$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$enable-gradients: false !default;
$enable-shadows: false !default;
$enable-rounded: true !default;
$enable-transitions: false !default;
$enable-print-styles: false !default;
$enable-validation-icons: false !default;
$font-size-base: 0.8rem !default;
$line-height-base: 1 !default;
$primary: $blue !default;

$border-radius: 0.15rem !default;
$border-radius-lg: 0.2rem !default;
$border-radius-sm: 0.1rem !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-vue/src/index.scss";
@import "../node_modules/jspanel4/dist/jspanel.min.css";

:root {
  --color-0: #1a8e6a;
  --color-0-rgb: 26, 142, 106;

  --color-1: #f9ba02;
  --color-1-rgb: 249, 186, 2;

  --color-2: #6762a2;
  --color-2-rgb: 103, 98, 162;

  --color-3: #eb298d;
  --color-3-rgb: 235, 41, 141;

  --color-4: #7cc522;
  --color-4-rgb: 124, 197, 34;

  --color-5: #ec6502;
  --color-5-rgb: 236, 101, 2;
}
